.footer-left{
    display: flex;
    width: 400px;
}
.git{
    margin-right: 5px;
}

@media (max-width: 1000px){
    .footer-left{
        width:300px;
    }
}


@media (max-width: 768px){
    .footer-left{
        justify-content: center;
    }
    /* need to rewrite footer code so it is independent and I can apply flex-direction:reverse-column */
}

