footer {
  height: 41px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eddfb3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.git {
  margin-right: 1em;
  margin-bottom: 3px;
}

.lin {
  margin-bottom: 3px;
}

