footer {
    height: 21px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDDFB3;
}

.footer-left{
    display: flex;
    width: 400px;
}

.footer-left a {
    text-decoration: none;
    color: inherit;
}

.git{
    margin-right: 5px;
}

.footer-right{
    display: flex;
    align-items: center;
}

.footer-right a {
    text-decoration: none;
    color: inherit;
}

.footer-right a:hover {
    font-weight: bold;
}

/* ------------------------------------------laptop view------------------------------------------- */

@media (max-width: 1000px){
    .footer-left{
        width:300px;
    }
}

/* ------------------------------------------tablet view------------------------------------------- */

@media (max-width: 768px){
    footer{
        flex-direction: column-reverse;
        height: 40px;
    }

    .footer-left{
        justify-content: center;
        margin-top: 5px;
    }

}

/* ------------------------------------------phone view(210px min)------------------------------------------- */

@media (max-width: 480px) {
    
    .footer-right{
        display: none;
    }

    .footer-left{
        width: 180px;
    }
}
