.resumeDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}

.resumeDiv button{
    color: black;
    background-color: #EDDFB3;
    padding: 20%;
}

.resumeDiv button:hover{
    background-color: brown;
    color: aliceblue;
}

.resumeTitle{
  display: flex;
  justify-content: center;
  margin: 1%;
  font-size: 3rem;
  font-style: italic;
  min-height: 1.5em;
}

@media (max-width: 1000px) {
    .resumeTitle{
      margin: 3%;
    }
}

@media (max-width: 768px) {
    .resumeTitle{
        margin: 4%;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .resumeTitle{
        margin: 6%;
    }
}