html {
  position: relative;
  min-height: 100%;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeText {
  font-size: 3rem;
  font-style: italic;
  min-height: 1.5em;
  margin: 1rem;
}

.topHalf{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigTextHome{
  font-size: 20em;
}

.homeImage{
  width: 20em;
  border-radius: 10px;
}

.bottomHalf{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  transform: translate(0, -5rem);
}

.bottomHalfLeft{
  width: 5em;
  font-size: 2.5em;
  transform: translate(2rem, -2rem);
}

.bottomHalfRight{
  width: 20em;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transform: translate(2rem, 0);
}

/* ------------------------------------------laptop view------------------------------------------- */

@media (max-width: 1000px) {
}

/* -----------------------------------------tablet view---------------------------------- */

@media (max-width: 768px) {
  .welcomeText {
    font-size: 2rem;
    margin: 4%;
  }

  .bigTextHome{
    font-size: 7em;
    position:absolute;
    color: white;
    transform: translate(-5rem, 0);
  }

  .bottomHalfLeft{
    display: none;
  }

  .bottomHalfRight{
    transform: none;
  }
}

/* -----------------------------------------phone view----------------------------------------- */

@media (max-width: 480px) {
  .welcomeText {
    margin: 6%;
  }
}
